.eManual-container {margin:0; padding:0; text-indent:0; background-color: #444444; font-family: "Times New Roman", serif; line-height: 1.4; box-sizing: border-box; font-size: 18px; color: #231F20;}

  /*Page and text styles*/

  @media all and (max-width: 500px) {
    html {
      font-size: 14px;
    }
  }

  .pageContent { background-color: white; padding: 50px; border: 1px solid black; margin-bottom: 20px; min-height: 600px; box-sizing: border-box; }
  .pageContentFull { background-color: white; padding: 0px; border: 1px solid black; margin-bottom: 20px;}
  .pageNumber { width: 100%; position: relative; text-align: center; margin-bottom: 0; padding-bottom: 20px;}
  .fullPage { width: 100%; }
  .centerText { width: 100%; text-align: center; }

  .heading { color: #000000; font-style: normal; font-weight: 600; font-size: 1.7em; text-align: left; width: 100%; padding-bottom: 25px;}
  h1 { font-family:"Helvetica Neue", sans-serif; font-weight: bold; font-size: 1.5em; }
  h2 { font-weight: bold; font-size: 1.25em; text-align: left; padding-bottom: 10px; }
  h3 { font-weight: bold; padding-bottom: 20px; }
  h4 { font-weight: bold; line-height: 1.4;  }

/*text and lists in this order only*/

  p, .eManual-p {
    color: #231F20 !important;
    font-family: "Times New Roman";
    font-style: normal; 
    font-weight: normal; 
    text-decoration: none; 
    margin:0pt; 
    padding-bottom: 40px;
  }

  .parawlist { color: #231F20; font-style: normal; font-weight: normal; text-decoration: none; margin:0pt; padding-bottom: 0px; }

  .pageNo { width: auto; text-align: right; }

  /*Tables and lists*/

  .cbitem {
    background-image: url("Guidelines_092017/cb.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 0px 10px;
    padding-left: 60px;

    color: #231F20; 
    font-style: normal; 
    font-weight: normal; 
    text-decoration: none; 
    margin:0pt; 
    padding-bottom: 20px;
  }

  .cbitem-2 {
    background-image: url("Guidelines_092017/cb.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 0px 10px;
    padding-left: 60px;
    margin-left: 60px !important;
    color: #231F20; 
    font-style: normal; 
    font-weight: normal; 
    text-decoration: none; 
    margin:0pt; 
    padding-bottom: 20px;
  }

  .cbitem-3 {
    background-image: url("Guidelines_092017/cb.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 0px 0px;
    padding-left: 60px;
    margin-left: 60px !important;

    color: #231F20; 
    font-style: normal; 
    font-weight: normal; 
    text-decoration: none; 
    margin:0pt; 
    padding-bottom: 3px;
  }

  .cbitem-4 {
    background-image: url("Guidelines_092017/cb.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 0px 0px;
    padding-left: 40px;
    margin-left: 0px !important;

    color: #231F20; 
    font-style: normal; 
    font-weight: normal; 
    text-decoration: none; 
    padding-bottom: 0px;
  }

  /*Tables*/

  table { width: 100%; margin-bottom: 30px; }
  .tableHeader { vertical-align: top; color: #fff; background-color: #010202; }

  table tr td { border: 1px solid black; padding: 5px; }



  /* Table of contents */

  .toc td { border:none; border-bottom: 1px solid black; vertical-align: top; }
  .toc td:nth-child(1) { width: 60px; text-align: left; }
  .toc td:nth-child(1) {  text-align: left; }
  .toc td:nth-child(3) { vertical-align: bottom; width: 60px; text-align: right; }
  .toc a { text-decoration: none; color: black; }

  .causeprevention td:nth-child(1) { width: 40%; font-size: 1.25em; }
  .causeprevention td:nth-child(2) { width: 60%; font-size: 1.25em; }


  /*List styles*/

  ul { padding-left: 3em; padding-bottom: 40px; }
  ul .space { margin-left: 3em; }
  ul .spacespace { margin-left: 6em; }

/*inside a table*/
  ol { padding-left: 2.5em; padding-bottom: 30px; }